#wrap {
    width: 100%;
    #detailProduct {
        width: 100%;
        padding: 100px 30px 0 40px;
        .container {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            .gap {
                width: 100%;
                .content {
                    width: 100%;
                    display: flex;
                    .product-img-box {
                        width: calc(1200 / 1920 * 100%);
                        .col-gap {
                            display: flex;
                            flex-flow: wrap;
                            .img-box {
                                width: calc(50% - 4px);
                                >li {
                                    width: 100%;
                                    img {
                                        -webkit-user-drag: none;
                                        width: 100%;
                                        cursor: zoom-in;
                                    }
                                }
                                li+li {margin-top: 8px;}
                            }
                            .video-box {
                                width: calc(50% - 4px);
                                margin-left: 8px;
                                position: sticky;
                                top: 100px;
                                // top: 0;
                                // height: calc(100vh - 100px) ;
                                height: 100vh ;
                                .video-gap {
                                    position: sticky;
                                    width: 100%;
                                    // height: 100vh;
                                    top: 100px;
                                    // top: -100px;
                                    // height: calc(100vh + 100px);
                                    video {
                                        // height: calc(100vh - 100px) ;
                                        // height: 100vh ;
                                        // position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        // height: 100%;
                                    }
                                    .video-under-text {
                                        // position: absolute;
                                        // right: 0;
                                        // bottom: 0;
                                        text-align: right;
                                        padding: 20px 0;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #666;
                                        line-height: 20px;
                                    }
                                }
                            }
                        }
                        
                        .model-img-box {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 73px 40px 83px 0;
                            h6 {
                                font-weight: 700;
                                font-size: 24px;
                                color: rgb(0,0,0);
                                text-align: center;
                            }
                            .slide-container {
                                position: relative;
                                margin-top: 36px;
                                .slide-view {
                                    width: calc(600 / 1120 * 100%);
                                    margin: 0 auto;
                                    overflow: hidden;
                                    position: relative;
                                    .slide-wrap {
                                        width: 100% * 4;
                                        // width: 100%;
                                        display: flex;
                                        position: relative;
                                        .slide {
                                            width: 100%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-info-box {
                        display: flex;
                        position: sticky;
                        top: 100px;
                        width: calc(720 / 1920 * 100%);
                        height: 100vh;
                        min-height: calc(100vh - 100px);
                        padding-left: 40px;
                        line-height: 1.5;
                        .text-box {
                            position: relative;
                            top: 0;
                            left: 0;
                            width: calc((100% + 40px) / 2 - 45px);
                            height: calc(100vh - 100px);
                            >ul {
                                >li {
                                    font-size : 14px;
                                    line-height: 1.5;
                                    letter-spacing: -1px;
                                    color: #000;
                                    p {font-weight: 400; font-size: 14px;line-height: 21px;}
                                    a {}
                                    &:nth-child(2){margin-top: 21px;font-weight: 700;font-size: 28px;}
                                    &:nth-child(3){margin-top: 20px;font-weight: 400;font-size: 16px;}
                                    &:nth-child(4){margin-top: 54px;}
                                    
                                    &:nth-child(5),
                                    &:nth-child(6),
                                    &:nth-child(7),
                                    &:nth-child(8){
                                        font-weight : 400;
                                        margin-top: 30px;
                                    }
                                    
                                    &:nth-child(9){margin-top: 30px;}
                                    &:nth-child(9),
                                    &:nth-child(10),
                                    &:nth-child(11){
                                        letter-spacing: -0.5px;
                                        font-size: 14px;
                                        color: #999;
                                        line-height: 24px;
                                    }
                                    &:nth-child(11){margin-top: 10px;a{text-decoration: underline;color: #999;}}
                                }
                            }
                        }
                        .option-box {
                            display: flex;
                            flex-direction: column;
                            width: calc((100% + 40px) / 2 - 40px);
                            height: calc(100vh - 100px);
                            margin-left: 40px;
                            .color-select-box {
                                width: 100%;
                                line-height: 1.5;
                                letter-spacing: -1px;
                                p {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                >ul {
                                    width: 100%;
                                    display: flex;
                                    margin-top: 18px;
                                    >li {
                                        display: inline-block;
                                        vertical-align: top;
                                        width: 84px;
                                        cursor: pointer;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    >li+li {
                                        margin-left: 5px;
                                    }
                                }
                            }
                            .size-select-box {
                                width: 100%;
                                margin-top: 26px;
                                >ul {
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: space-between;
                                    >li {
                                        p {font-weight: 700;font-size: 14px;}
                                        a {text-decoration: underline;}
                                    }
                                }
                                .size-select-btn {
                                    width: calc((100% + 5px) / 4 - 5px);
                                    margin-top: 18px;
                                    >button {
                                        width: 100%;
                                        border: 0;
                                        height: 50px;
                                        border-radius: 5px;
                                        background: #002965;
                                        color: #fff;
                                        cursor: pointer;
                                    }
                                }
                            }
                            .quantity-box {
                                width: 100%;
                                margin-top: 38px;
                                display: flex;
                                border: 1px solid #ddd;
                                button {
                                    display: block;
                                    width: 52px;
                                    height: 48px;
                                    border: 0;
                                    background: #fff;
                                    cursor: pointer;
                                    // img {display: block; width: 100%; height: 100%;}
                                }
                                input {
                                    width: calc(100% - 104px);
                                    border: 0;
                                }

                            }
                            .price-box {
                                width: 100%;
                                >ul {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-top: 15px;
                                    >li {
                                        font-weight: 700;
                                        font-size: 16px;
                                    }
                                }
                            }
                            .buy-btn {
                                margin-top: 27px;
                                button {
                                    display: block;
                                    width: 100%;
                                    height: 60px;
                                    border: 0;
                                    border-radius: 60px;
                                    background-color: #fff;
                                }
                                .now-buy {
                                    width: 100%;
                                    background-color: #002965;
                                    color: #fff;
                                }
                                >ul {
                                    display: inline-flex;
                                    align-items: center;
                                    // justify-content: spa;
                                    width: 100%;
                                    margin-top: 10px;
                                    >li {
                                        display: inline-block;
                                        width: 100%;
                                        &:nth-child(1){
                                            width: 60px;
                                            height: 60px;
                                            display: flex;
                                            margin-right: 10px;
                                            .like-product {
                                                border: 1px solid #ddd;
                                                width: 60px;
                                                height: 60px;
                                                border-radius: 50%;
                                                // display: block;
                                                // background: url(../img/detail_product/icon_heart.svg) 50% 50% no-repeat;
                                            }
                                        }
                                        .cart-save {
                                            display: block;
                                            // width: calc(100% - 70px);
                                            width: 100%;
                                            border: 1px solid #000;
                                        }
                                    }
                                }
                            }
                            >ul {
                                display: flex;
                                flex-flow: column nowrap;
                                text-align: left;
                                >li {
                                    width: 100%;
                                    height: 76px;
                                    padding-right: 30px;display: inline-flex;align-items: center;justify-content: flex-start;
                                    border-bottom: 1px solid #f0f0f0;
                                    p {
                                       /*  width: 100%;
                                        height: 76px;
                                        display: inline-block; */
                                    }
                                    
                                    &.new-member-more {
                                        cursor: pointer;
                                        display: flex;
                                        flex-flow: row wrap;
                                        padding-right: 30px;
                                        background: url(../img/detail_product/icon_under_arrow.svg) 100% 50% no-repeat;
                                        border-bottom: 0;
                                        &.on {
                                            background-image: url(../img/detail_product/icon_top_arrow.svg);
                                        }
                                    }
                                    &.more {
                                        width: 100%;
                                        height: auto;
                                        padding-bottom: 30px;
                                        border-bottom: 1px solid #f0f0f0;
                                        .more-text {
                                            font-size: 14px;
                                        }
                                    }
                                    &.product-review {
                                        cursor: pointer;
                                        padding-right: 30px;
                                        background: url(../img/detail_product/icon_product_plus.svg) 100% 50% no-repeat;

                                    }
                                    &.product-qna {
                                        cursor: pointer;
                                        padding-right: 30px;
                                        background: url(../img/detail_product/icon_product_plus.svg) 100% 50% no-repeat;

                                    }
                                    &.etc-info {
                                        border-bottom: 0;
                                        text-decoration: underline;
                                        a {
                                            color: #999;
                                        }
                                        a+a {
                                            margin: 0 0 0 10px;
                                        }
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }
}