#Sub2 {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1770px;
        padding: 0 40px 100px 40px;
        .gap {
            width: 100%;
            .title {
                width: 100%;
                display: flex;
                padding: 9px 40px;
                align-items: center;
                .left-box {
                    width: 230px;
                    h1 {
                        color: #000;
                        font-size: 28px;
                        line-height: 42px;
                        font-weight: 700;
                        img {margin: 0 15px;}
                    }
                }
                .right-box {
                    width: 1593px;
                    display: flex;
                    align-items: end;
                    margin: 0 0 0 40px;
                    position: relative;
                    justify-content: space-between;
                    align-items: center;
                    .left {
                        font-size: 16px;
                        i {
                            margin: 0 0 0 34px;
                            color: #ccc;
                        }
                        > a {
                            margin: 0 0 0 31px;
                            color: #000;
                            cursor: pointer;
                        }
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        a {
                            color: #000;
                            font-size: 16px;
                            line-height: 18px;
                            cursor: pointer;
                            select {
                                border: 0;
                                font-size: 16px;
                            }
                        }
                        i {
                            margin-left: 60px;
                        }
                        .btn {
                            a {
                                cursor: pointer;
                                margin-left: 20px;
                                img {
                                    margin-left: 20px;
                                }
                            }
                        }
                        
                    }
                }
            }
            // 서브메인
            .content {
                display: flex;
                .category-box {
                    width: 230px;
                    padding-right: 40px;
                    position: sticky;  // 스티키 설정
                    top: 40px;
                    left: 0;
                    
                    height: 100vh;
                    // 수직 스크롤 오버시에 생성
                    overflow-y: auto;
                    // 스크롤바 디자인
                    &::-webkit-scrollbar {
                        width:5px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #ccc;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #5f0080;
                    }
                    .category {
                        //각 카테고리 박스 안의 있는 버튼
                        button {
                            width: 100%;
                            margin-bottom: 20px;
                            border: none;
                            background: url('./img/KHB/arr_up_bk_9x6.png') no-repeat 100% 50%;
                            font-size: 16px;
                            font-weight: 700;
                            color: #000;
                            text-align: left;
                            cursor: pointer;
                            
                        }
                        .category1 {
                            margin-top: 30px;
                            padding-top: 30px;
                            ul {
                                li {
                                    padding: 15px 0;
                                    a {
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .category2 {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #999;
                            ul {
                                li {
                                    padding: 10px 0;
                                    label {
                                        font-size: 16px;
                                        input {
                                            appearance: none;
                                            position: relative;
                                            cursor: pointer;
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 10px;
                                            border: 1px solid #ccc;
                                            border-radius: 5px;
                                            &:checked {
                                                border: 1px solid #333;
                                                &::before {
                                                    content: '';
                                                    z-index: 3;
                                                    position: absolute;
                                                    width: 14px;
                                                    height: 14px;
                                                    top: 50%;
                                                    left: 50%;
                                                    
                                                    transform: translate(-50%, -50%);
                                                    background: url('../img/KHB/checkbox_on_20x20.png') no-repeat 50% 50%;
                                                }
                                            }
                                        }   
                                    }
                                }
                            }
                        }

                        //색상
                        .category3 {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #999;
                            
                            ul {
                                display: grid;
                                grid-template-columns: repeat(6, 1fr);
                                row-gap: 10px;
                                column-gap: 10px;
                                li {
                                    width: 22px;
                                    height: 22px;
                                    label {
                                        input {
                                            position: relative;
                                            width: 22px;
                                            height: 22px;
                                            appearance: none;
                                            cursor: pointer;
                                            background-size: cover;
                                            background: url () no-repeat 50% 50%;
                                            &#BEIGE  {background-image: url('../img/KHB/BEIGE.png');}
                                            &#BLACK  {background-image: url('../img/KHB/BLACK.png');}
                                            &#BLUE   {background-image: url('../img/KHB/BLUE.png');}
                                            &#GREEN  {background-image: url('../img/KHB/GREEN.png');}
                                            &#GREY   {background-image: url('../img/KHB/GREY.png');}
                                            &#PINK   {background-image: url('../img/KHB/PINK.png');}
                                            &#RED    {background-image: url('../img/KHB/RED.png');}
                                            &#WHITE  {background-image: url('../img/KHB/WHITE.png');}
                                            &#YELLOW {background-image: url('../img/KHB/YELLOW.png');}
                                            &#ORANGE {background-image: url('../img/KHB/ORANGE.png');}
                                            &#MIX    {background-image: url('../img/KHB/MIX.png');}
                                            &#NAVY   {background-image: url('../img/KHB/NAVY.png');}
                                            &#NEON   {background-image: url('../img/KHB/NEON.png');}
                                            &:checked {
                                                &::before {
                                                    content: '';
                                                    z-index: 3;
                                                    position: absolute;
                                                    width: 10px;
                                                    height: 10px;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                    background: url('../img/KHB/ico_check_wt_12x8.png') no-repeat 50% 50%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .category4 {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #999;
                            ul {
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                row-gap: 10px;
                                column-gap: 10px;
                                li {
                                    
                                    label {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        
                                        width: 43px;
                                        height: 50px;
                                        input {
                                            position: relative;
                                            z-index: 2;
                                            width: 100%;
                                            height: 100%;
                                            border: 1px solid #ccc;
                                            border-radius: 6px;
                                            appearance: none;
                                            cursor: pointer;
                                            &:checked { 
                                                border-color: #333;
                                            }
                                        }
                                        span {
                                            position: absolute;
                                            z-index: 1;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            font-size: 16px;
                                            
                                        }
                                        
                                    }
                                }
                            }
                        }
                        .category5 {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #999;
                            ul {
                                li {
                                    padding: 10px 0;
                                    label {
                                        font-size: 16px;
                                        input {
                                            appearance: none;
                                            position: relative;
                                            cursor: pointer;
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 10px;
                                            border: 1px solid #ccc;
                                            border-radius: 5px;
                                            &:checked {
                                                border: 1px solid #333;
                                                &::before {
                                                    content: '';
                                                    z-index: 3;
                                                    position: absolute;
                                                    width: 14px;
                                                    height: 14px;
                                                    top: 50%;
                                                    left: 50%;
                                                    
                                                    transform: translate(-50%, -50%);
                                                    background: url('../../../../public/img/sub1-1/checkbox_on_20x20.png') no-repeat 50% 50%;
                                                }
                                            }
                                        }   
                                    }
                                }
                            }
                        }
                        .category6 {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #999;
                            ul {
                                li {
                                    padding: 10px 0;
                                    label {
                                        font-size: 16px;
                                        input {
                                            appearance: none;
                                            position: relative;
                                            cursor: pointer;
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 10px;
                                            border: 1px solid #ccc;
                                            border-radius: 5px;
                                            &:checked {
                                                border: 1px solid #333;
                                                &::before {
                                                    content: '';
                                                    z-index: 3;
                                                    position: absolute;
                                                    width: 14px;
                                                    height: 14px;
                                                    top: 50%;
                                                    left: 50%;
                                                    
                                                    transform: translate(-50%, -50%);
                                                    background: url('../../../../public/img/sub1-1/checkbox_on_20x20.png') no-repeat 50% 50%;
                                                }
                                            }
                                        }   
                                    }
                                }
                            }
                        }
                    }
                }
                // 상품리스트
                .content-box {
                    width: 100%;
                    margin-left: 40px;
                    ul {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        row-gap: 20px;
                        column-gap: 20px;
                        // display: flex;
                        // justify-content: space-between;
                        // flex-flow: row wrap;
                        li {
                            a {
                                .img-box {
                                    position: relative;
                                    .front-img {
                                        position: relative;
                                        img {
                                            width: 358.250px;
                                        }
                                    }
                                    .back-img {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        transition: all 0.3s;
                                        opacity: 0;
                                        img {
                                            width: 358.250px;
                                        }
                                    }
                                    &:hover {
                                        .back-img {
                                            opacity: 1;
                                        }
                                    }

                                }
                                .txt-box {
                                    width: 100%;
                                    ul {
                                        display: block;
                                        padding-top: 11px;
                                        width: 256.750px;
                                        .t1 {
                                            color: #000;
                                            font-size: 14px;
                                            line-height: 18px;
                                        }
                                        .t2 {
                                            color: #000;
                                            margin-top: 8px;
                                            font-size: 18px;
                                            font-weight: 700;
                                            line-height: 27px;
                                        }
                                        .t3 {
                                            color: #000;
                                            margin-top: 12px;
                                            font-size: 16px;
                                            line-height: 18px;
                                        }
                                        .t4 {
                                            color: #d6001f;
                                            font-size: 14px;
                                            font-weight: 400;
                                            margin-top: 9px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}